.header__icons {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}

.icons__box {
  display: block;
  width: 30px;
  height: 30px;
}

.icon {
  width: 100%;
  height: 100%;
  fill: $dark-content;
  transition: fill 0.3s ease;
  &:hover {
    fill: $solid-heading;
  }
}
